*{
   color: white;
    background-color: rgb(18, 31, 31);
    font-family: sans-serif;
}


.title{
    font-variant: inherit;
    font-style: oblique;
    font-weight: bolder;
    font-family: sans-serif;
    position: relative;
    font-size: 40;
    color: rgb(122, 209, 64);

}

#mazar{
 width: 250px;
 height: 250px;
 border-radius: 50%;
 border: 4px solid green;
}

.About{
   margin-top: 20px;
     
}

#quotes-title{
    font-style: italic;
    color: rgb(122, 209, 64);
    
}
#head{
    font-style: italic;
    color: rgb(122, 209, 64);
     
}
.footer{
    font-style: italic;

}
#foot{
    color: rgb(122, 209, 64);
}
